/* Fonts */
@font-face {
  font-family: FiraCode-Regular;
  src: url(../fonts/FiraCode-Regular.woff) url(../fonts/FiraCode-Bold.woff)
    format(woff);
}
body {
  font: 18px/36px "FiraCode-Regular", "FiraCode-Bold", arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.hide {
  display: none;
}

.popup {
  width: 1000px;
  height: 300px;
  position: fixed;
  text-align: center;
  font-size: 22px;
  top: 50%;
  left: 50%;
  padding: 20px;
  background: red;
  border: 3px solid #000;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  animation: show 0.8s ease forwards;
  animation-delay: 0.1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* mulai transparan */
  opacity: 0;
  pointer-events: none;
  z-index: 99990;
  animation: overlayShow 0.1s forwards 0.1s; /* muncul otomatis */
}
@keyframes overlayShow {
  to {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
  }
}
#popupToggle:checked ~ .popup {
  animation: hide 0.5s ease forwards;
}

#popupToggle:checked ~ .overlay {
  opacity: 0;
  pointer-events: none;
}

#popupToggle:checked ~ .overlay {
  animation: overlayHide 0.5s forwards;
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

/* Style Utama */

.audio-btn {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  transition: 0.2s;
  top: 0;
}

.audio-btn:hover {
  color: white;
}

h1 {
  font-family: FiraCode-Bold;
  font-weight: bold;
  margin: 50px 0;
  font-size: 60px;
  text-align: center;
}

.container {
  width: 700px;
  background-color: white;
  padding: 30px;
  margin: auto;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery li {
  width: 120px;
  height: 120px;
  border: 3px solid black;
  float: left;
  margin-right: 14px;
  position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
  border-radius: 50%;
}

.gallery li span {
  font-size: 15px;
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  top: 0;
  position: absolute;
  text-align: center;
  line-height: 120px;
  color: black;
  text-shadow: 1px 1px 1px lightblue;
  transform: scale(0) rotate(0);
  transition: 0.3s;
  opacity: 0;
}

.gallery li a:hover span {
  font-family: "FiraCode-regular";
  font-weight: bold;
  opacity: 1;
  transform: scale(1) rotate(360deg);
}

.clear {
  clear: both;
}

/* Style Fullsize */

.fullsize,
.fullsize2 {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  text-align: center;
  padding: 70px 0;
  transition: ketikaDiklik 1s;
}

.fullsize:target,
.fullsize2:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fullsize img,
.fullsize2 img {
  max-height: 100%;
  box-shadow: 2px 2px 15px rgba(192, 192, 192, 07);
}

.fullsize:target img,
.fullsize2:target img {
  border-radius: 0%;
  animation: ketikaDiklik 1s;
}

.fullsize .close,
.fullsize2 .close {
  opacity: 0;
  position: absolute;
  top: 35px;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  color: white;
  left: 50%;
  margin-left: -25px;
  line-height: 14px;
  padding: 2px;
}

.fullsize:target .close,
.fullsize2:target .close {
  animation: closeDiklik 0.5s 0.5s forwards;
}
.fullsize:target .next,
.fullsize:target .prev,
.fullsize2:target .next,
.fullsize2:target .prev {
  animation: navbar 0.5s 0.5s forwards;
}

.next,
.prev {
  width: 150px;
  height: 150px;
  text-indent: -99999;
  top: 40%;
  margin-left: 10px;
  background-image: url(../img/next5.png);
  position: absolute;
  text-indent: -9999px;
  opacity: 0;
}

.prev {
  background-image: url(../img/prev5.png);
  margin-left: -160px;
}
.love {
  width: 250px;
  height: 210px;
  background-image: url(../img/love2.png);
  position: absolute;
  top: 38.5%;
  margin-left: 550px;
}

/* animasi */

@keyframes navbar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ketikaDiklik {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

@keyframes closeDiklik {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translate(0);
    pointer-events: auto;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translate(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-200px);
    pointer-events: none;
  }
}

@keyframes overlayHide {
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
}
